.page-admin #content #galleries-page-admin td.logo,
.page-admin #content #gallery-items-gallery-page-admin-form td.logo {
  height: 56px;
  width: 74px;
}

.page-admin #content #galleries-page-admin td.logo a,
.page-admin #content #gallery-items-gallery-page-admin-form td.logo a {
  display: block;
  height: 56px;
  width: 74px;
}

.page-admin #content #galleries-page-admin td img,
.page-admin #content #gallery-items-gallery-page-admin-form td img {
  margin: 0;
}

body tbody {
  border: none;
}

#fancybox-title table {
  margin: 0;
}

#bo-gallery-item-form .vertical-tabs .fieldset-wrapper,
#bo-gallery-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
