.gallery-content {
  margin: 0 auto;
}

.gallery-content .gallery-large {
  height: 434px;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  width: 622px;
}

.gallery-buttonless .scroller-outer {
  overflow: hidden;
  position: relative;
}

.gallery-buttonless .scroller-in {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.gallery-buttonless .scroller-item {
  position: relative;
}

.gallery-buttonless .scroller-item a {
  -moz-opacity: 0.6;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}

.gallery-buttonless .scroller-item.open a,
.gallery-buttonless .scroller-item a:hover {
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}

.gallery-buttonless .gallery-caption {
  padding: 15px 0;
  text-align: center;
}

/* @group Horizontal Nav */

.gallery-buttonless-nav-horizontal .scroller-outer {
  height: 140px;
  margin: 0 auto;
  width: 720px;
}

.gallery-buttonless-nav-horizontal .scroller-in {
  height: 140px;
  width: 200000px;
}

.gallery-buttonless-nav-horizontal .scroller-item {
  float: left;
  height: 101px;
  padding: 16px 4px 0;
  width: 104px;
}

.gallery-buttonless-nav-horizontal .scroller-item.open {
  padding-top: 0px;
  width: 152px;
}

.gallery-buttonless-nav-horizontal  .scroller-item img {
  width: 104px;
}

.gallery-buttonless-nav-horizontal  .scroller-item.open img {
  width: auto;
}

/* @end */

/* @group Vertical Nav */

.gallery-buttonless-nav-vertical .gallery-thumbs {
  float: left;
  width: 152px;
}

.gallery-buttonless-nav-vertical .gallery-container {
  float: left;
  width: 630px;
}

.gallery-buttonless-nav-vertical .scroller-outer {
  height: 417px;
  width: 152px;
}

.gallery-buttonless-nav-vertical .scroller-in {
  height: 200000px;
  width: 152px;
}

.gallery-buttonless-nav-vertical .scroller-item {
  height: 69px;
  padding: 4px 24px;
}

.gallery-buttonless-nav-vertical .scroller-item.open {
  height: 101px;
  padding-left: 0px;
}

.gallery-buttonless-nav-vertical  .scroller-item img {
  height: 69px;
}

.gallery-buttonless-nav-vertical  .scroller-item.open img {
  height: auto;
}

/* @end */
