.gallery-scroller {
  width: 600px;
}

.gallery-scroller.gallery-nav-vertical {
  overflow: auto;
  width: auto;
}

.gallery-scroller.gallery-nav-vertical .gallery-container {
  float: left;
  width: 600px;
}

.gallery-scroller .gallery-large {
  height: 400px;
  width: 600px;
}

.gallery-scroller .gallery-caption {
  padding: 15px 0;
  text-align: center;
}

.js .gallery-scroller.gallery-nav-vertical .gallery-nav {
  float: left;
  width: 150px;
}

.js .gallery-scroller.gallery-nav-vertical.gallery-nav-left .gallery-nav {
  padding-right: 15px;
}

.js .gallery-scroller.gallery-nav-vertical.gallery-nav-right .gallery-nav {
  padding-left: 15px;
}

.gallery-scroller .gallery-thumbs-container {
  height: 120px;
  padding-top: 2px;
  position: relative;
}

.js .gallery-scroller.gallery-nav-vertical .gallery-thumbs-container {
  height: auto;
  padding-top: 0;
}

.gallery-scroller .scroller-outer {
  position: relative;
  width: 600px;
}

.js .gallery-scroller .scroller-outer {
  height: 120px;
  left: 72px;
  overflow: hidden;
  position: absolute;
  width: 456px;
}

.js .gallery-scroller.gallery-nav-vertical .scroller-outer {
  height: 348px;
  left: auto;
  position: relative;
  width: 150px;
}

.js .gallery-scroller .scroller-in {
  height: 383px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 200000px;
}

.js .gallery-scroller.gallery-nav-vertical .scroller-in {
  height: 200000px;
  width: 150px;
}

.gallery-scroller .scroller-item {
  float: left;
  height: 114px;
  padding: 0 1px;
  position: relative;
  text-align: center;
  width: 150px;
}

.js .gallery-scroller.gallery-nav-vertical .scroller-item {
  float: none;
  padding: 1px 0;
}

.gallery-scroller .button-left,
.gallery-scroller .button-right {
  display: none;
  padding: 45px 21px 0;
  width: 30px;
}

.js .gallery-scroller.gallery-nav-vertical .button-left,
.js .gallery-scroller.gallery-nav-vertical .button-right {
  left: auto;
  padding: 0px 60px;
  position: relative;
  top: auto;
}

/* @group button left */

.js .gallery-scroller .button-left {
  display: block;
  left: 0px;
  position: absolute;
  top: 0px;
}

.js .button-left span a {
  background: url("../images/nav_left.png") no-repeat left top;
  display: block;
  filter: alpha(opacity = 60);
  height: 30px;
  -moz-opacity: 0.6;
  opacity: 0.6;
  text-decoration: none;
  width: 30px;
}

.js .button-left span a:hover {
  background-position: left bottom;
  filter: alpha(opacity = 100);
  -moz-opacity: 1;
  opacity: 1;
  text-decoration: none;
}

.js .button-left span.end a {
  background-position: left bottom;
  cursor: default;
  filter: alpha(opacity = 100);
  -moz-opacity: 1;
  opacity: 1;
}

/* @end */

/* @group button right */

.js .gallery-scroller .button-right {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.js .button-right span a {
  background: url("../images/nav_right.png") no-repeat right top;
  display: block;
  filter: alpha(opacity = 60);
  height: 30px;
  -moz-opacity: 0.6;
  opacity: 0.6;
  text-decoration: none;
  width: 30px;
}

.js .button-right span a:hover {
  background-position: right bottom;
  filter: alpha(opacity = 100);
  -moz-opacity: 1;
  opacity: 1;
  text-decoration: none;
}

.js .button-right span.end a {
  background-position: right bottom;
  cursor: default;
  filter: alpha(opacity = 100);
  -moz-opacity: 1;
  opacity: 1;
}

/* @end */

/* @group pager */

.gallery-scroller .scroller-pager {
  display: none;
}

.js .gallery-scroller .scroller-pager {
  clear: both;
  display: block;
  padding-top: 12px;
  text-align: center;
}

.js .gallery-scroller.gallery-nav-bottom .scroller-pager {
  padding-bottom: 20px;
  padding-top: 0;
}

.pane-collection-items #thumbs .scroller-pager a,
.pane-collection-items #thumbs .scroller-pager a:visited {
  padding: 0 5px;
}

.pane-collection-items #thumbs .scroller-pager a:hover,
.pane-collection-items .view-content #thumbs .scroller-pager a.active {
  display: inline;
}

/* @end */
